.recipe{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid blue ;
    margin-bottom: 50px;
    height: 700px;
    width: 400px;

}